@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap";

:root {
  --black: #24282f;
  --primary: #61ffa8;
  --secondary: #285f41;
  --white: #f0f0f9;
}

* {
  font-family: "Roboto", sans-serif;
  margin: 0px;
  padding: 0px;
  outline: none;
  font-size: 22px;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Roboto", sans-serif;
  background-color: var(--black);
}
h1 {
  font-size: 40px;
  color: var(--primary);
  display: flex;
  justify-content: center;
}
.container {
  margin: 2px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

input[type="text"] {
  height: 40px;
}

input[type="button"] {
  width: 100px;
  height: 80px;
}

input[type="button"]:hover {
  filter: brightness(50%);
}

input[type="button"]:active {
  transform: scale(0.9);
}
