@import "https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap";

body{
    border: 0;
    padding: 0;
    background-image: linear-gradient(#61ffa8,#40e648);
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    color: #0f222d;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
}

.background{
    background: white
}
input[type="text"]{
    width: 310px;
    height: 30px;
    outline: 0;
    border: none;
    font-size: 20px;
    color: #2f4f4f;
    background: white
  }

ul{
    padding: 15px;
    list-style: none;
    background-color: white
}

a{
    float: right;
    text-align: right;
    color: #ff6161;
    font-size: 1.2em;
    cursor: pointer;
    font-size: 16px;
    color: #53BDFF;
}

h1{
    text-align: center;
  }

  button{
    font-size: 16px;
    color: #53BDFF;
    background: white
    outline: 0;
    border: none;   
    float: inherit;   
  }

  button:hover,
  a:hover{
    color: yellow;
  }


  li{
    border-bottom: 1px solid #53BDFF;
    padding-bottom: 15px;
    padding-top: 15px;
    font-size: 15px;
    color: #2f4f4f;
  }

  